# pandas的数据转换函数map、apply、applymap
数据转换函数对比: map、apply、applymap:
1. map:用于Series, 实现每个值->值的映射;
2. apply: 用于Series, 实现每个值的处理, 用于DataFrame实现某个周的Series的处理;
3. applymap: 只能用于DataFrame, 用于处理改DataFrame的每个元素;

## 1.map用于Series的值的转换
示例: 将股票代码英文转换为中文名字
`Series.map(dict) or Series.map(function)`

In [1]:
import pandas as pd

stock_df = pd.read_csv('./data/stock/stock.csv')
stock_df.head()

          日期    公司     收盘     开盘      高      低     交易量     涨跌幅
0  2023/3/27  BABA  86.12  87.13  88.22  85.50  18.18M  -0.90%
1  2023/3/24  BABA  86.90  85.87  88.11  85.63  20.35M   0.44%
2  2023/3/23  BABA  86.52  87.68  88.38  85.26  26.79M   3.43%
3  2023/3/22  BABA  83.65  84.84  85.39  83.51  21.08M  -0.06%
4  2023/3/21  BABA  83.70  82.46  84.09  82.00  16.44M   3.33%

In [2]:
stock_df['公司'].unique()

array(['BABA', 'JD', 'BAIDU'], dtype=object)

In [3]:
# 公司股票代码到中文的映射
dict_company_name = {
    'baidu': '百度',
    'baba': '阿里巴巴',
    'jd': '京东'
}

**方法1:Series.map(dict)**

In [4]:
stock_df['公司中文1'] = stock_df['公司'].str.lower().map(dict_company_name)

In [5]:
stock_df.head()

          日期    公司     收盘     开盘      高      低     交易量     涨跌幅 公司中文1
0  2023/3/27  BABA  86.12  87.13  88.22  85.50  18.18M  -0.90%  阿里巴巴
1  2023/3/24  BABA  86.90  85.87  88.11  85.63  20.35M   0.44%  阿里巴巴
2  2023/3/23  BABA  86.52  87.68  88.38  85.26  26.79M   3.43%  阿里巴巴
3  2023/3/22  BABA  83.65  84.84  85.39  83.51  21.08M  -0.06%  阿里巴巴
4  2023/3/21  BABA  83.70  82.46  84.09  82.00  16.44M   3.33%  阿里巴巴

**方法2:Series.map(function)**
function的参数是Series的每个元素的值

In [6]:
stock_df['公司中文2'] = stock_df['公司'].map(lambda d: dict_company_name.get(d.lower()) + '2')

In [7]:
stock_df

,日期,公司,收盘,开盘,高,低,交易量,涨跌幅,公司中文1,公司中文2
0,2023/3/27,BABA,86.12,87.13,88.22,85.50,18.18M,-0.90%,阿里巴巴,阿里巴巴2
1,2023/3/24,BABA,86.90,85.87,88.11,85.63,20.35M,0.44%,阿里巴巴,阿里巴巴2
2,2023/3/23,BABA,86.52,87.68,88.38,85.26,26.79M,3.43%,阿里巴巴,阿里巴巴2
3,2023/3/22,BABA,83.65,84.84,85.39,83.51,21.08M,-0.06%,阿里巴巴,阿里巴巴2
4,2023/3/21,BABA,83.70,82.46,84.09,82.00,16.44M,3.33%,阿里巴巴,阿里巴巴2
5,2023/3/20,BABA,81.00,80.15,81.90,79.48,18.95M,-0.82%,阿里巴巴,阿里巴巴2
6,2023/3/17,BABA,81.67,84.00,84.16,80.62,23.71M,-0.67%,阿里巴巴,阿里巴巴2
7,2023/3/16,BABA,82.22,81.46,82.48,80.66,22.41M,0.87%,阿里巴巴,阿里巴巴2
8,2023/3/15,BABA,81.51,81.55,82.54,80.15,20.86M,-2.79%,阿里巴巴,阿里巴巴2
9,2023/3/14,BABA,83.85,82.86,83.91,82.16,19.05M,1.15%,阿里巴巴,阿里巴巴2
10,2023/3/13,BABA,82.90,83.01,83.75,81.97,17.62M,-0.07%,阿里巴巴,阿里巴巴2
11,2023/3/10,BABA,82.96,82.64,84.52,82.33,18.12M,-0.49%,阿里巴巴,阿里巴巴2
12,2023/3/9,BABA,83.37,85.12,85.69,82.88,24.12M,-4.12%,阿里巴巴,阿里巴巴2
13,2023/3/8,BABA,86.95,87.39,87.77,86.45,14.72M,-2.01%,阿里巴巴,阿里巴巴2
14,2023/3/7,BABA,88.73,89.52,90.05,88.20,14.51M,-0.99%,阿里巴巴,阿里巴巴2
15,2023/3/6,BABA,89.62,89.58,91.30,88.03,16.98M,-0.09%,阿里巴巴,阿里巴巴2
16,2023/3/3,BABA,89.70,90.09,90.39,88.43,25.83M,-0.06%,阿里巴巴,阿里巴巴2
17,2023/3/2,BABA,89.75,88.96,90.92,87.97,24.02M,-0.22%,阿里巴巴,阿里巴巴2
18,2023/3/1,BABA,89.95,92.92,92.92,89.73,32.05M,2.46%,阿里巴巴,阿里巴巴2
19,2023/2/28,BABA,87.79,88.46,89.34,87.27,24.60M,-1.64%,阿里巴巴,阿里巴巴2
20,2023/3/27,JD,39.78,39.34,39.96,39.15,7.31M,-1.27%,京东,京东2
21,2023/3/24,JD,40.29,39.92,40.84,39.85,7.35M,0.55%,京东,京东2
22,2023/3/23,JD,40.07,40.30,40.89,39.63,11.04M,4.08%,京东,京东2
23,2023/3/22,JD,38.50,39.50,39.87,38.50,8.27M,-2.63%,京东,京东2
24,2023/3/21,JD,39.54,38.62,39.59,38.43,9.71M,2.28%,京东,京东2
25,2023/3/20,JD,38.66,38.00,39.30,37.70,11.16M,-0.44%,京东,京东2
26,2023/3/17,JD,38.83,39.48,39.67,38.57,11.48M,-2.41%,京东,京东2
27,2023/3/16,JD,39.79,39.07,40.09,38.91,9.83M,1.14%,京东,京东2
28,2023/3/15,JD,39.34,39.38,39.88,38.81,10.40M,-2.72%,京东,京东2
29,2023/3/14,JD,40.44,39.98,40.81,39.46,10.78M,0.82%,京东,京东2
30,2023/3/13,JD,40.11,39.68,40.84,39.04,13.14M,-0.89%,京东,京东2
31,2023/3/10,JD,40.47,40.88,41.38,40.07,15.48M,-2.90%,京东,京东2
32,2023/3/9,JD,41.68,44.51,44.79,41.31,37.10M,-11.28%,京东,京东2
33,2023/3/8,JD,46.98,45.51,47.41,45.47,8.51M,0.88%,京东,京东2
34,2023/3/7,JD,46.57,47.36,47.36,46.34,6.51M,-2.82%,京东,京东2
35,2023/3/6,JD,47.92,47.67,48.72,47.23,7.17M,0.97%,京东,京东2
36,2023/3/3,JD,47.46,47.36,48.22,47.32,7.87M,0.83%,京东,京东2
37,2023/3/2,JD,47.07,45.62,47.15,45.40,7.90M,2.93%,京东,京东2
38,2023/3/1,JD,45.73,46.54,46.77,45.30,9.24M,2.90%,京东,京东2
39,2023/2/28,JD,44.44,44.28,45.11,43.97,6.44M,-0.67%,京东,京东2
40,2023/3/27,BAIDU,149.50,156.90,157.00,147.40,15.52M,-3.17%,百度,百度2
41,2023/3/24,BAIDU,154.40,148.50,159.00,148.00,25.84M,2.32%,百度,百度2
42,2023/3/23,BAIDU,150.90,145.50,151.10,144.50,12.34M,2.79%,百度,百度2
43,2023/3/22,BAIDU,146.80,147.90,149.80,145.80,8.86M,-0.88%,百度,百度2
44,2023/3/21,BAIDU,148.10,146.20,149.30,143.50,13.13M,3.21%,百度,百度2
45,2023/3/20,BAIDU,143.50,146.50,148.00,141.70,16.03M,0.91%,百度,百度2
46,2023/3/17,BAIDU,142.20,135.00,146.00,134.00,32.59M,13.67%,百度,百度2
47,2023/3/16,BAIDU,125.10,131.30,134.40,120.10,24.31M,-6.36%,百度,百度2
48,2023/3/15,BAIDU,133.60,134.50,138.30,133.00,14.63M,3.57%,百度,百度2
49,2023/3/14,BAIDU,129.00,132.30,134.00,128.50,8.23M,-3.73%,百度,百度2
50,2023/3/13,BAIDU,134.00,131.50,136.70,129.00,11.66M,3.47%,百度,百度2
51,2023/3/10,BAIDU,129.50,128.20,131.10,128.00,20.86M,-5.89%,百度,百度2
52,2023/3/9,BAIDU,137.60,140.00,141.00,137.40,6.51M,-1.36%,百度,百度2
53,2023/3/8,BAIDU,139.50,141.10,141.50,137.60,7.68M,-3.26%,百度,百度2
54,2023/3/7,BAIDU,144.20,147.50,149.30,142.30,9.00M,-2.24%,百度,百度2
55,2023/3/6,BAIDU,147.50,149.40,150.00,145.70,9.97M,-1.27%,百度,百度2
56,2023/3/3,BAIDU,149.40,148.30,150.80,146.60,13.38M,5.29%,百度,百度2
57,2023/3/2,BAIDU,141.90,141.00,142.60,139.40,16.49M,-2.14%,百度,百度2
58,2023/3/1,BAIDU,145.00,135.00,146.90,135.00,17.88M,7.57%,百度,百度2
59,2023/2/28,BAIDU,134.80,137.00,138.50,134.00,12.43M,0.60%,百度,百度2

## 2.apply用于Series和DataFrame的转换
- `Series.apply(function)` 函数的参数是Series中的每个值
- `DataFrame.apply(function)` 函数的参数就是Series


**`Series.apply(function)`**
function的参数就是Series中的每个值

In [8]:
stock_df['公司中文3'] = stock_df['公司'].apply(lambda d: dict_company_name.get(d.lower()) + '3')

In [9]:
stock_df.head()

,日期,公司,收盘,开盘,高,低,交易量,涨跌幅,公司中文1,公司中文2,公司中文3
0,2023/3/27,BABA,86.12,87.13,88.22,85.50,18.18M,-0.90%,阿里巴巴,阿里巴巴2,阿里巴巴3
1,2023/3/24,BABA,86.90,85.87,88.11,85.63,20.35M,0.44%,阿里巴巴,阿里巴巴2,阿里巴巴3
2,2023/3/23,BABA,86.52,87.68,88.38,85.26,26.79M,3.43%,阿里巴巴,阿里巴巴2,阿里巴巴3
3,2023/3/22,BABA,83.65,84.84,85.39,83.51,21.08M,-0.06%,阿里巴巴,阿里巴巴2,阿里巴巴3
4,2023/3/21,BABA,83.70,82.46,84.09,82.00,16.44M,3.33%,阿里巴巴,阿里巴巴2,阿里巴巴3

**`DataFrame.apply(function)`**
function的参数对应洲的Series

In [10]:
stock_df['公司中文4'] = stock_df.apply(lambda s: dict_company_name.get(s['公司'].lower()) + '4', axis=1)

注意:
1. apply是在stock_df这个DataFrame上调用的;
2. lambda 上的参数s是一个Series, 这里因为指定了axis=1所以传入的数据为行的Series, 所以可以s['公司']进行获取;

In [11]:
stock_df.head()

,日期,公司,收盘,开盘,高,低,交易量,涨跌幅,公司中文1,公司中文2,公司中文3,公司中文4
0,2023/3/27,BABA,86.12,87.13,88.22,85.50,18.18M,-0.90%,阿里巴巴,阿里巴巴2,阿里巴巴3,阿里巴巴4
1,2023/3/24,BABA,86.90,85.87,88.11,85.63,20.35M,0.44%,阿里巴巴,阿里巴巴2,阿里巴巴3,阿里巴巴4
2,2023/3/23,BABA,86.52,87.68,88.38,85.26,26.79M,3.43%,阿里巴巴,阿里巴巴2,阿里巴巴3,阿里巴巴4
3,2023/3/22,BABA,83.65,84.84,85.39,83.51,21.08M,-0.06%,阿里巴巴,阿里巴巴2,阿里巴巴3,阿里巴巴4
4,2023/3/21,BABA,83.70,82.46,84.09,82.00,16.44M,3.33%,阿里巴巴,阿里巴巴2,阿里巴巴3,阿里巴巴4

## 3. applymap用于DataFrame所有值的转换

In [12]:
sub_df = stock_df[['收盘', '开盘', '高', '低']]

In [13]:
sub_df.head()

      收盘     开盘      高      低
0  86.12  87.13  88.22  85.50
1  86.90  85.87  88.11  85.63
2  86.52  87.68  88.38  85.26
3  83.65  84.84  85.39  83.51
4  83.70  82.46  84.09  82.00

In [14]:
# 将这些数字取整数, 应用于所有元素
sub_df.applymap(lambda s: int(s))

     收盘   开盘    高    低
0    86   87   88   85
1    86   85   88   85
2    86   87   88   85
3    83   84   85   83
4    83   82   84   82
5    81   80   81   79
6    81   84   84   80
7    82   81   82   80
8    81   81   82   80
9    83   82   83   82
10   82   83   83   81
11   82   82   84   82
12   83   85   85   82
13   86   87   87   86
14   88   89   90   88
15   89   89   91   88
16   89   90   90   88
17   89   88   90   87
18   89   92   92   89
19   87   88   89   87
20   39   39   39   39
21   40   39   40   39
22   40   40   40   39
23   38   39   39   38
24   39   38   39   38
25   38   38   39   37
26   38   39   39   38
27   39   39   40   38
28   39   39   39   38
29   40   39   40   39
30   40   39   40   39
31   40   40   41   40
32   41   44   44   41
33   46   45   47   45
34   46   47   47   46
35   47   47   48   47
36   47   47   48   47
37   47   45   47   45
38   45   46   46   45
39   44   44   45   43
40  149  156  157  147
41  154  148  159  148
42  150  145  151  144
43  146  147  149  145
44  148  146  149  143
45  143  146  148  141
46  142  135  146  134
47  125  131  134  120
48  133  134  138  133
49  129  132  134  128
50  134  131  136  129
51  129  128  131  128
52  137  140  141  137
53  139  141  141  137
54  144  147  149  142
55  147  149  150  145
56  149  148  150  146
57  141  141  142  139
58  145  135  146  135
59  134  137  138  134

注意:
DataFrame.applymap(function) 函数在调用自定义函数时传入的入参为每一个Series的元素

In [15]:
# 替换原来数据的值
stock_df.loc[:, ['收盘', '开盘', '高', '低']] = sub_df.applymap(lambda s: int(s))

In [16]:
stock_df.head()

,日期,公司,收盘,开盘,高,低,交易量,涨跌幅,公司中文1,公司中文2,公司中文3,公司中文4
0,2023/3/27,BABA,86.0,87.0,88.0,85.0,18.18M,-0.90%,阿里巴巴,阿里巴巴2,阿里巴巴3,阿里巴巴4
1,2023/3/24,BABA,86.0,85.0,88.0,85.0,20.35M,0.44%,阿里巴巴,阿里巴巴2,阿里巴巴3,阿里巴巴4
2,2023/3/23,BABA,86.0,87.0,88.0,85.0,26.79M,3.43%,阿里巴巴,阿里巴巴2,阿里巴巴3,阿里巴巴4
3,2023/3/22,BABA,83.0,84.0,85.0,83.0,21.08M,-0.06%,阿里巴巴,阿里巴巴2,阿里巴巴3,阿里巴巴4
4,2023/3/21,BABA,83.0,82.0,84.0,82.0,16.44M,3.33%,阿里巴巴,阿里巴巴2,阿里巴巴3,阿里巴巴4