In [1]:
import pandas as pd
from pandas import DataFrame

df1 = pd.DataFrame({'id': [1, 2, 3], 'name': ['a', 'c', 'c']})
df2 = pd.DataFrame({'id': [1, 2, 4], 'name': ['b', 'b', 'c']})
dif = df1.compare(df2, keep_shape=True, keep_equal=True)
dif1 = pd.merge(df1, df2, on='id')


def get_update_condition(da: DataFrame):
    update_condition = (da['id']['self'] == da['id']['other']) & (da['name']['self'] != da['name']['other'])
    return update_condition


dif.loc[get_update_condition, 'sql'] = 'update table set name=' + dif['name']['self'] + ' where id=' + dif['id'][
    'other'].astype(str)


def get_insert_condition(da: DataFrame):
    insert_condition = da['id']['self'] != da['id']['other']
    return insert_condition


dif.loc[get_insert_condition, 'sql'] = 'insert into table (id,name) values (' + dif['id']['self'].astype(str) + ',' + \
                                       dif['name']['self'] + ')'

In [2]:
dif

    id       name                                             sql
  self other self other
0    1     1    a     b        update table set name=a where id=1
1    2     2    c     b        update table set name=c where id=2
2    3     4    c     c  insert into table (id,name) values (3,c)